@font-face {
  font-family: "TheanoDidot";
  font-style: normal;
  font-weight: normal;
  src: url("/src/theme/fonts/TheanoDidot-Regular.ttf");
}

@font-face {
  font-family: "Domine";
  font-style: normal;
  font-weight: normal;
  src: url("/src/theme/fonts/Domine-Variable.ttf");
}

:root[mode="ios"] .text-heading,
:root[mode="md"] .text-heading {
  --ion-font-family: "TheanoDidot" !important;
  font-family: "TheanoDidot" !important;
}
:root[mode="ios"] .text-body,
:root[mode="md"] .text-body {
  --ion-font-family: "Domine" !important;
  font-family: "Domine" !important;
}

.smallprint {
  font-size: 12px;
}
small {
  font-size: 12px;
}
.text-body {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}

.constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.constrain--medium {
  max-width: 24rem;
}
.centered-content {
  min-height: calc(100vh - 196px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 20px; */
}
.centered-content--no-toolbar {
  min-height: calc(100vh - 94px - 40px);
}
.centered-content--no-toolbar-no-header {
  min-height: calc(100vh - 40px);
}
.with-hover-cursor:hover {
  cursor: pointer;
}
.swatches__colour {
  border: solid 2px #000;
  background-color: #fff;
  box-shadow: 1px 1px #999;
  color: transparent;
  flex: 0 0 10%;
  margin: 5px;
}
.swatches__colour:not(.swatches__colour--chosen):not(.swatches__colour--output) {
  opacity: 0.65;
  border-color: #999;
}
.swatches__colour:not(.swatches__colour--output) {
  width: 10%;
  padding-top: 8%;
}
@supports (aspect-ratio: 1/1) {
  .swatches__colour:not(.swatches__colour--output) {
    padding-top: 0;
    aspect-ratio: 1 / 1;
  }
}
.swatches__colour--output {
  height: 50px;
  width: 100%;
  flex: 1;
  max-width: 500px;
  margin: 20px auto;
}
