.smallprint {
  font-size: 12px;
}

.swatches {
  display: flex;
  justify-content: space-around;

  max-width: 500px;
  margin: 20px auto;
  padding-left: 0;
  width: 100%;
  list-style: none;
}
.swatches__colour {
  border: solid 2px #000;
  background-color: #fff;
  box-shadow: 1px 1px #999;
  color: transparent;
  flex: 0 0 28px;
}
.swatches__colour:not(.swatches__colour--chosen):not(.swatches__colour--output) {
  opacity: 0.65;
  border-color: #999;
}
.swatches__colour:not(.swatches__colour--output) {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
.swatches__colour--output {
  height: 50px;
  width: 100%;
  flex: 1;
  max-width: 500px;
  margin: 20px auto;
}
