/** Ionic CSS App Variables **/
:root {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
  --ion-tab-bar-background: var(--ion-color-secondary);
  --ion-tab-bar-color: var(--ion-color-tertiary);
  --ion-tab-bar-color-selected: var(--ion-color-primary);
}
/* ion-app {
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
} */

ion-content {
  --ion-background-color: var(--ion-color-medium);
}
ion-card {
  --background: var(--ion-color-primary-contrast);
}
ion-list {
  --ion-background-color: transparent;
}

:root * {
  border-radius: 0 !important;
  /* font-family: "Domine"; */
}
ion-button {
  --border-radius: 4px;
  font-family: "Domine";
}

ion-header ion-title,
ion-card-subtitle {
  font-family: "Domine" !important;
  font-weight: bold;
}

ion-tab-bar {
  height: 68px;
}
ion-tab-button ion-icon {
  position: relative;
  height: 1.2em;
  width: 1.2em;
  background: var(--ion-color-medium);
  border: solid var(--ion-color-medium);
  margin-top: 5px;
  margin-bottom: 0;
}
:root ion-tab-button ion-icon {
  border-radius: 5px !important;
}
ion-tab-button ion-label {
  font-size: 15px;
  font-weight: bold;
  font-family: "TheanoDidot" !important;
  color: var(--ion-color-medium);
}
.profile-badge {
  text-align: center;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-badge__image-prompt {
  color: grey;
  margin-top: 10px;
}
.profile-badge__image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}

/* Walk */
.sub-title {
  color: #777269 !important;
}
.title {
  font-size: 1.5em;
}
.small-print {
  color: #777269;
}
.input-text {
  background: white;
  box-shadow: 2px 3px 0 #777269;
  border: solid 1px #777269;
  font-size: 1.1em;
  margin: 10px;
  padding: 0 10px !important;
  width: calc(100% - 20px);
}
.input-text .native-input[disabled] {
  opacity: 1;
  box-shadow: 0 !important;
}
.input-text[aria-disabled="true"] {
  box-shadow: none;
  border: none;
}

.tooltip {
  background: var(--ion-color-secondary);
  padding: 1.2em;
  border-radius: 4px !important;
  /* text-transform: uppercase; */
  font-weight: bold;
  color: var(--ion-color-tertiary-contrast);
  font-size: 0.9em;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 10em;
  transform: translate(-50%, -10px);
  text-align: center;

  /* padding: 1.6em;
  font-weight: bold;
  width: auto;
  border-radius: 50% !important;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center; */
}
.tooltip::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: var(--ion-color-secondary) transparent transparent transparent;
}

/* Moments List */
.moments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.moments-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
  padding-bottom: 40px;
}
.moments-list__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 4px;
  height: calc(50% + 25px);
  background: var(--ion-color-secondary);
  z-index: -1;
}
.moments-list__icon {
  font-size: 3em;
  width: 30px;
  margin-right: 20px;
}
.moments-list__item--photo img {
  display: block;
  width: 100%;
}

.moments-list__image-container,
.moments-list__note,
.moments-list__audio {
  display: block;
  /* width: calc(100% - 50px); */
  width: 100%;
}
.moments-list__image {
  display: block;
}
.moments-list__note {
  padding: 1.6em 1.6em 1.6em 2em;
  font-size: 1.1em !important;
  line-height: 1.75em !important;
  text-align: left;
}
.moments-list__note::first-letter {
  font-size: 1.6em !important;
  margin-right: 0.1em;
}
.moments-list-count {
  display: block;
  position: relative;
  width: 34px;
  margin-bottom: 25px;
}
.moments-list-count::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 4px;
  height: calc(50% + 25px);
  background: var(--ion-color-secondary);
  z-index: -1;
}
.moments-list-count__icon {
  width: 34px;
  height: 50px;
  display: block;
}
.moments-list-count__total {
  position: absolute;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 50% !important;
  top: 4px;
  left: 4px;
  background: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
  font-weight: bold;
}
.moments-list-count__label {
}

/* Walk Descriptors */
.badge-input-feedback,
.badge-input-feedback-complete {
  /* margin-right: 5px; */
  order: 2;
}
.badge-input-feedback {
  padding: 8px 12px;
  border-radius: 50% !important;
  /* margin-top: 5px; */
  /* margin-right: 5px; */
}
.keywords--complete .badge-keyword:not(.badge-keyword--active) {
  opacity: 0.3;
}
.badge-keyword {
  margin: 4px;
  padding: 10px;
  border-radius: 0.5em !important;
  cursor: pointer;
  --background: var(--ion-color-dark);
  opacity: 0.8;
  font-size: clamp(0.75rem, 3.2vw, 0.85rem);
}
.badge-keyword--active {
  --background: var(--ion-color-primary);
  opacity: 1;
}

.age-select {
}

.age-select ion-label,
.age-select .select-disabled {
  opacity: 1 !important;
}

.info-bubble {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
  /* border: solid 2px var(--ion-color-dark); */
  border-radius: 1em !important;
  position: relative;
  padding: 20px;
}
.info-bubble * {
  color: inherit;
}

.info-bubble::after {
  position: absolute;
  bottom: -20px;
  right: 20%;
  /* transform: translateX(-50%); */
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: var(--ion-color-secondary) transparent transparent transparent;
}

.info-bubble--alt {
  background-color: var(--ion-color-tertiary);
}
.info-bubble--alt::after {
  right: 80%;
  border-width: 20px 0 0 20px;
  border-color: var(--ion-color-tertiary) transparent transparent transparent;
}

.add-moment-modal .modal-wrapper {
  background: var(--ion-color-medium);
}

.with-tint {
  background-color: var(--ion-color-light);
}
