/** Ionic CSS App Variables **/
:root {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
  --ion-tab-bar-background: var(--ion-color-secondary);
  --ion-tab-bar-color: var(--ion-color-tertiary);
  --ion-tab-bar-color-selected: var(--ion-color-primary);
}
ion-app {
  /* margin-top: env(safe-area-inset-top); */
  /* margin-bottom: env(safe-area-inset-bottom); */
}

ion-content {
  --ion-background-color: var(--ion-color-medium);
}
ion-card {
  --background: var(--ion-color-primary-contrast);
}
ion-list {
  --ion-background-color: transparent;
}

:root * {
  border-radius: 0 !important;
  /* font-family: "Domine"; */
}
ion-button {
  --border-radius: 4px;
  font-family: "Domine";
}

ion-header ion-title,
ion-card-subtitle {
  font-family: "Domine" !important;
  font-weight: bold;
}

ion-tab-bar {
  height: 68px;
}
ion-tab-button ion-icon {
  position: relative;
  height: 1.2em;
  width: 1.2em;
  background: var(--ion-color-medium);
  border: solid var(--ion-color-medium);
  margin-top: 5px;
  margin-bottom: 0;
}
:root ion-tab-button ion-icon {
  border-radius: 5px !important;
}
ion-tab-button ion-label {
  font-size: 15px;
  font-weight: bold;
  font-family: "TheanoDidot" !important;
  color: var(--ion-color-medium);
}
.profile-badge {
  text-align: center;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-badge__image-prompt {
  color: grey;
  margin-top: 10px;
}
.profile-badge__image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}
