.walk-card {
  position: relative;
}
.walk-card:not(:last-child) {
  margin-bottom: 8px;
}

.walk-card__image {
  display: block;
  width: 100%;
}

.walk-card__header {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walk-card__title {
  color: var(--ion-color-medium) !important;
  font-weight: bold !important;
  font-size: 1.4rem !important;
  padding: 5px 15px;
}
.walk-card:nth-child(2n) .walk-card__header .walk-card__title {
  order: 2;
  margin-left: auto;
}
.walk-card .walk-card__subtitle {
  color: var(--ion-color-medium) !important;
  font-size: 1.2rem !important;
  border: solid var(--ion-color-medium) 1px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  min-width: 3rem;
  min-height: 3rem;
}
