/* .cover-image-picker {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
} */
.cover-image-picker__cover-image {
  display: block;
  height: 20vh;
  object-fit: cover;
  width: 100%;
}
.cover-image-picker__scroller {
  /* position: absolute;
  z-index: 1;
  bottom: 0; */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}
.cover-image-picker__image {
  max-height: 50px;
  width: 17%;
  display: block;
  margin: 1.25%;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.35);
  opacity: 0.5;
  border: solid 2px transparent;
  cursor: pointer;
}
.cover-image-picker__image--chosen {
  opacity: 1;
  border-color: var(--ion-color-primary);
}
