/* .image-picker {
  width: 100%;
  height: 35vh;
  border: 1px solid #ccc;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image:hover {
  cursor: pointer;
}

@supports (aspect-ratio: 1/1) {
  .image-picker {
    aspect-ratio: 1 / 1;
  }
}

.image-picker__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-picker__preview {
  margin: 10px;
  max-height: 35vh;
} */
