.progress-panel {
  --ion-item-background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
  --ion-item-color: var(--ion-color-primary-contrast);
  margin: 0;
}