.walk-item {
  position: relative;
}

.walk-item img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.walk-item__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.65); */
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.65));
}
.walk-item__content * {
  color: var(--ion-color-dark-contrast);
}

.walk-item__moment-image {
  display: block;
}

.walk-item-new {
  position: relative;
}

.walk-item-new__image {
  width: 100%;
  height: 100%;
  /* height: 60vh; */
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  /* background: var(--ion-color-dark); */
}
.walk-item-new__image::before {
  content: "";
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.65));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.walk-item-new__details {
  padding: 20px;
  margin-top: 20vh;
  position: relative;
  color: var(--ion-color-dark-contrast);
  z-index: 1;
}
.walk-item-new__details::before {
  content: "";
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.65));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.walk-item__moment-audio {
  /* min-height: 35vh;
  padding-top: 5vh;
  padding-bottom: 5vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}

.walk-item__moment-note {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
