ion-slides {
  height: 100%;
}
.swiper-pagination {
  margin-bottom: 20px;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--ion-color-primary);
}

.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
}
.swiper-slide img {
  display: block;
  margin: 16px auto;
  max-width: 80%;
}
.swiper-slide .intro__panel {
  max-height: 45vh;
}
.swiper-slide .intro__logo {
  max-height: 15vh;
}
.swiper-slide .intro__icon {
  max-height: calc(80vh - 22rem);
}
.swiper-slide .intro__partner {
  width: 22vh;
  margin: 0 auto;
}
.swiper-slide .intro__panel-2 {
  max-height: 28vh;
}

.intro__skip {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}
